# <font color = 'red'>Also see L1 Starter Notes committed.</font>

### Question we will answer is : How do daily_engagements (For the first week) look like for students who eventually pass their first project vs students who don't.


We have 3 tables : enrollments, daily_engagement and project submission.
Please exclude rows that have is_udacity = true. They are udacity test accounts and their daily_engagement is not garuanteed to be captured.

Daily_engagements are captured every day for every user irrespective of whether he logs in or not.
For students cancelling on the same day as joining, the daily_engagment will not be captured. Filter them out.

We will be checking the daily_engagemnt of every student for the first week after enrolling. How this first weeks engagemnt affects their first project grading.

Therefore, we will also filter out students who have cancelled their subscriptions in the first week.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
enrollments = pd.read_csv("enrollments.csv")
enrollments['days_to_cancel'] = pd.to_numeric(enrollments['days_to_cancel'], downcast='unsigned')
enrollments['status'] = enrollments['status'].astype('category')
enrollments['join_date'] = pd.to_datetime(enrollments['join_date'], format="%Y-%m-%d")
enrollments['cancel_date'] = pd.to_datetime(enrollments['cancel_date'], format= "%Y-%m-%d")
enrollments.info()
enrollments.head()
#Unique account ids?
enrollments['account_key'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1640 entries, 0 to 1639
Data columns (total 7 columns):
account_key       1640 non-null int64
status            1640 non-null category
join_date         1640 non-null datetime64[ns]
cancel_date       988 non-null datetime64[ns]
days_to_cancel    988 non-null float64
is_udacity        1640 non-null bool
is_canceled       1640 non-null bool
dtypes: bool(2), category(1), datetime64[ns](2), float64(1), int64(1)
memory usage: 56.2 KB

1302

In [4]:
enrollments.head(10)
#Why are some students missing from daily_engagement?
#Daily engagement is supposed to be captured for every student every day whether he logs in or not(check unique counts)
#enrollments[enrollments['join_date'] == enrollments['cancel_date']] ?

,account_key,status,join_date,cancel_date,days_to_cancel,is_udacity,is_canceled
0,448,canceled,2014-11-10,2015-01-14,65.0,True,True
1,448,canceled,2014-11-05,2014-11-10,5.0,True,True
2,448,canceled,2015-01-27,2015-01-27,0.0,True,True
3,448,canceled,2014-11-10,2014-11-10,0.0,True,True
4,448,current,2015-03-10,NaT,NaN,True,False
5,448,canceled,2015-01-14,2015-01-27,13.0,True,True
6,448,canceled,2015-01-27,2015-03-10,42.0,True,True
7,448,canceled,2015-01-27,2015-01-27,0.0,True,True
8,448,canceled,2015-01-27,2015-01-27,0.0,True,True
9,700,canceled,2014-11-10,2014-11-16,6.0,False,True

In [5]:
dailyEngagement = pd.read_csv("daily_engagement.csv")
dailyEngagement.columns = ['account_key', 'utc_date', 'num_courses_visited', 'total_minutes_visited',
       'lessons_completed', 'projects_completed']
dailyEngagement['utc_date'] = pd.to_datetime(dailyEngagement['utc_date'], format="%Y-%m-%d")
dailyEngagement['num_courses_visited'] = pd.to_numeric(dailyEngagement['num_courses_visited'], downcast='unsigned') 
dailyEngagement['lessons_completed'] = pd.to_numeric(dailyEngagement['lessons_completed'], downcast='unsigned') 
dailyEngagement['projects_completed'] = pd.to_numeric(dailyEngagement['projects_completed'], downcast='unsigned') 
dailyEngagement.info()
dailyEngagement.head()

#Unique account ids?
dailyEngagement.head()
dailyEngagement['account_key'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136240 entries, 0 to 136239
Data columns (total 6 columns):
account_key              136240 non-null int64
utc_date                 136240 non-null datetime64[ns]
num_courses_visited      136240 non-null uint8
total_minutes_visited    136240 non-null float64
lessons_completed        136240 non-null uint8
projects_completed       136240 non-null uint8
dtypes: datetime64[ns](1), float64(1), int64(1), uint8(3)
memory usage: 3.5 MB

1237

In [6]:
#Print one row that is in enrollment but not in daily_engagement
notInDailyEng = ~enrollments['account_key'].isin(dailyEngagement['account_key'])
sameDayCancel = enrollments["join_date"] == enrollments["cancel_date"]
notSameDayCancel = ~sameDayCancel
notInDailyAndNotSameDayCancel = np.logical_and(notInDailyEng, notSameDayCancel)
print(enrollments[notInDailyAndNotSameDayCancel])
#These are udacity test accounts. Filter them out too.

      account_key    status  join_date cancel_date  days_to_cancel  \
467          1304  canceled 2015-01-10  2015-03-10            59.0
468          1304  canceled 2015-03-10  2015-06-17            99.0
1378         1101   current 2015-02-25         NaT             NaN

      is_udacity  is_canceled
467         True         True
468         True         True
1378        True        False

In [7]:
dailyEngagement.head()

,account_key,utc_date,num_courses_visited,total_minutes_visited,lessons_completed,projects_completed
0,0,2015-01-09,1,11.679374,0,0
1,0,2015-01-10,2,37.284887,0,0
2,0,2015-01-11,2,53.633746,0,0
3,0,2015-01-12,1,33.489270,0,0
4,0,2015-01-13,1,64.779678,0,0

In [8]:

projectSubmissions = pd.read_csv("project_submissions.csv")
projectSubmissions['creation_date'] = pd.to_datetime(projectSubmissions['creation_date'], format="%Y-%m-%d")
projectSubmissions['completion_date'] = pd.to_datetime(projectSubmissions['completion_date'], format="%Y-%m-%d")
projectSubmissions['assigned_rating'] = projectSubmissions['assigned_rating'].astype('category')
projectSubmissions['processing_state'] = projectSubmissions['processing_state'].astype('category')
projectSubmissions.info()
projectSubmissions.head()

#Unique account ids?
projectSubmissions['account_key'].nunique()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3642 entries, 0 to 3641
Data columns (total 6 columns):
creation_date       3642 non-null datetime64[ns]
completion_date     3636 non-null datetime64[ns]
assigned_rating     3636 non-null category
account_key         3642 non-null int64
lesson_key          3642 non-null int64
processing_state    3642 non-null category
dtypes: category(2), datetime64[ns](2), int64(2)
memory usage: 121.3 KB

743

In [9]:
projectSubmissions.head()

,creation_date,completion_date,assigned_rating,account_key,lesson_key,processing_state
0,2015-01-14,2015-01-16,UNGRADED,256,3176718735,EVALUATED
1,2015-01-10,2015-01-13,INCOMPLETE,256,3176718735,EVALUATED
2,2015-01-20,2015-01-20,PASSED,256,3176718735,EVALUATED
3,2015-03-10,2015-03-13,PASSED,434,3176718735,EVALUATED
4,2015-02-17,2015-03-03,INCOMPLETE,434,3176718735,EVALUATED

In [10]:
#Find students who have not cancelled their enrollment/or not cancelled within 7 days(Trial period), also exclude udacity test accounts
cancelledAfter7Days = enrollments['days_to_cancel'] > 7

notCancelled = np.isnan(enrollments['days_to_cancel'])

paidStudentSeries = np.logical_or(cancelledAfter7Days, notCancelled)

ExcludeTestSeries = np.logical_and(paidStudentSeries, ~enrollments["is_udacity"])

paidStudents = enrollments[ExcludeTestSeries]

#paidStudents.tail(10)
#paidStudents.info()
#unique students who meet this condition
#paidStudents["account_key"].value_counts()
#paidStudents[paidStudents["account_key"] == 329]
paidStudents["account_key"].nunique()
paidStudents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1215 entries, 10 to 1639
Data columns (total 7 columns):
account_key       1215 non-null int64
status            1215 non-null category
join_date         1215 non-null datetime64[ns]
cancel_date       566 non-null datetime64[ns]
days_to_cancel    566 non-null float64
is_udacity        1215 non-null bool
is_canceled       1215 non-null bool
dtypes: bool(2), category(1), datetime64[ns](2), float64(1), int64(1)
memory usage: 51.1 KB

In [18]:
# Get their most recent enrollments
# First create account_key as the index.
paidStudents = paidStudents.set_index('account_key')
paidStudents = paidStudents.sort_values(by='join_date', ascending=False).groupby(level=0).first()
paidStudents.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 1305
Data columns (total 6 columns):
status            995 non-null object
join_date         995 non-null datetime64[ns]
cancel_date       445 non-null datetime64[ns]
days_to_cancel    445 non-null float64
is_udacity        995 non-null bool
is_canceled       995 non-null bool
dtypes: bool(2), datetime64[ns](2), float64(1), object(1)
memory usage: 40.8+ KB